@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
  }
  &__btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}

.menu {
  padding-left: 35px;
  padding-right: 60px;
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 80px;
  }
  &__list-link {
    @extend %title-font;
    color: rgba(54, 56, 56, 0.9033);
    line-height: 22px;
  }
}

.logo {
  margin: 0 auto;
}

.footer {
  &__content {
    background-color: #DFDFDF;
    padding: 60px 0 80px;
  }
  &__copyright {
    background-color: $title;
    text-align: center;
    padding: 42px 0 41px;
    color: #A1A1A1;
  }
  &__info {
    width: 540px;
  }
  &__info-title {
    color: $title;
    @extend %title-font;
    margin-bottom: 14px;
    line-height: 23px;
  }
  &__info-text {
    width: 476px;
    margin-bottom: 16px;
  }
  &__info-email {
    font-weight: 600;
    color: $title;
    font-size: 14px;
    margin-bottom: 22px;
    padding-left: 30px;
    display: inline-block;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      background-image: url(../images/envelope.svg);
      width: 16px;
      height: 12px;
      top: 8px;
    }
  }
  &__form {
    display: flex;
  }
  &__form-input {
    padding: 6px 10px 6px 18px;
    border-radius: 21px;
    border: 1px solid rgba($title, .7);
    background-color: transparent;
    width: 100%;
    &::placeholder {
      font-size: 16px;
      line-height: 27px;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
      color: #A1A1A1;
    }
  }
  &__form-button {
    font-weight: 600;
    background-color: $title;
    border: none;
    color: #fffff0;
    border-radius: 21px;
    padding: 6px 12px;
    min-width: 160px;
    cursor: pointer;
    margin-left: 9px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__social {
    width: 125px;
    margin-right: auto;
    margin-left: 100px;
  }
  &__social-link {
    padding-left: 28px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 16px;
      height: 16px;
      top: 3px;
    }
  }
  &__social-link--facebook::before {
    background-image: url(../images/facebook.svg);
  }
  &__social-link--instagram::before {
    background-image: url(../images/instagram.svg);
    top: 4px;
    height: 14px;
    width: 14px;
  }
  &__social-link--pinterest::before {
    background-image: url(../images/pinterest.svg);
  }
  &__social-link--whatsapp::before {
    background-image: url(../images/whatsapp.svg);
    height: 14px;
    width: 14px;
  }
  &__social-link--youtube::before {
    background-image: url(../images/youtube.svg);
    top: 4px;
    height: 12px;
    width: 18px;
  }
  &__social-item,
  &__menu-item {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 14px;
  }
  &__social-link,
  &__menu-link {
    color: #707070;    
  }
  &__menu {
    margin-right: 60px;
    width: 125px;
  }
}

.rightside-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 694px;
  z-index: 5;
  width: 100%;
  background-color: #fff;
  padding-top: 40px;
  box-shadow: -2px 3px 17px 0px #000;
  transition: all .7s;
  &.rightside-menu--close {
    transform: translateX(500%);
  }
  &__close {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: 50px;
    margin-bottom: 60px;
    cursor: pointer;
  }
  &__content {
    text-align: center;
    max-width: 485px;
    margin: 0 auto;
  }
  &__logo {
    margin-bottom: 40px;
    display: inline-block;
  }
  &__title {
    color: $title;
    @extend %title-font;
    font-size: 36px;
    line-height: 51px;
    position: relative;
    margin-bottom: 17px;
    padding-bottom: 10px;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      max-width: 252px;
      margin: 0 auto;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #6D7278;
    }
  }
  &__text {
    margin-bottom: 75px;
  }
  &__images {
    max-width: 485px;
  }
}

.top {
  &__inner {
    padding-bottom: 70px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      background-image: url(../images/slider-bg.jpg);
      background-repeat: no-repeat;
      width: 100%;
      height: 720px;
      top: 0;
      z-index: -1;
    }
  }
  &__slider-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__slider-info {
    max-width: 645px;
    margin-left: 25px;
  }
  &__slider-img {
    margin-left: -12%;
    max-width: 703px;
    height: 815px;
    object-fit: cover;
  }
  &__slider-title {
    color: $title;
    font-size: 110px;
    line-height: 134px;
    @extend %title-font;
    padding-bottom: 26px;
    margin-bottom: 26px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      left: 0;
      width: 185px;
      background-color: #6D7278;
      bottom: 0;
      height: 1px;
    }
  }
  &__slider-text {
    max-width: 585px;
  }
}

.new-collection {
  text-align: center;
  padding: 45px 0 105px;
  &__title {
    color: $title;
    font-size: 36px;
    line-height: 51px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 250px;
      height: 1px;
      bottom: 0;
      margin: 0 auto;
      right: 0;
      left: 0;
      background-color: #6D7278
    }
  }
  &__text {
    max-width: 730px;
    margin: 0 auto 30px;
  }
}

.collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px; 
  &__item {
    position: relative;
    &:hover {
      .collection__info {
        opacity: 1;
      }
    }
  }
  &__images {
    max-width: 350px;
    min-height: 350px;
    object-fit: cover;
  }
  &__info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#fff, .6);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .7s;
  }
  &__info-title {
    font-size: 20px;
    line-height: 24px;
    color: $title;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      margin: 0 auto;
      right: 0;
      left: 0;
      width: 80%;
      height: 1px;
      background-color: #6D7278;
      bottom: 0;
    }
  }
  &__info-text {
    font-size: 14px;
    line-height: 28px;
    font-weight: 600;
    color: #707070;
  }
}

.decor {
  padding: 172px 0 155px;
  background-image: url(../images/decor-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  &__title {
    font-size: 60px;
    line-height: 80px;
    color: $title;
    max-width: 480px;
    padding-bottom: 22px;
    margin-bottom: 22px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      width: 200px;
      height: 1px;
      background-color: #6D7278;
      bottom: 0;
      left: 0;
    }
  }
  &__text {
    max-width: 500px;
  }
}

.work-path {
  padding: 80px 0 30px;
  &__title {
    text-align: center;
    color: $title;
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 40px;
    @extend %title-font;
  }
  &__items-box {
    display: flex;
    border-bottom: 2px solid rgba($title, .7);
    position: relative;
    align-items: flex-end;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $title;
    }
  }
  &__item {
    max-width: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &--production {
      margin-left: 315px;
      padding-bottom: 30px;
      position: relative;
      &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        height: 20px;
        width: 2px;
        background-color: $title;
      }  
    }
    &--consultation {
      padding-bottom: 30px;
      position: relative;
    }
    &--measurements {
      padding-top: 30px;
      margin-left: 305px;
      position: relative;
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 20px;
        width: 2px;
        background-color: $title;
      }
    }
  }
  &__item-title {
    @extend %title-font;
    color: $title;
    margin-left: 10px;
  }
  &__item-text {
    margin-top: 13px;
  }
}

.gallery {
  padding: 80px 0 90px;
  &__buttons {
    text-align: center;
    padding-bottom: 45px;
  }
  &__btn {
    margin: 0 13px;
    background-color: transparent;
    border: 1px solid #454647;
    padding: 6px 16px;
    border-radius: 20px;
    color: #8F8D8D;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
  }
  .mixitup-control-active {
    color: $title;
    border: 1px solid rgba(#FFEF35, .5);
    background-color: rgba(#FFEF35, .5);
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px 35px;
  }
  &__item:first-child {
    grid-column: span 2;
    grid-row: span 2;
  }
  &__item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 1150px;
  }
}

.blog-box {
  padding-bottom: 100px;
  &__title {
    margin: 0 auto 30px;
    text-align: center;
    max-width: 430px;
    color: $title;
    @extend %title-font;
    font-size: 36px;
    line-height: 51px;
  }
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  &__img-link {
    margin-bottom: 20px;
    display: inline-block;
  }
  &__links {
    margin-bottom: 7px;
  }
  &__author,
  &__theme {
    color: inherit;
    font-weight: 600;
    font-size: 14px;
  }
  &__date {
    font-weight: 600;
    font-size: 14px;
  }
  &__item-title {
    color: $title;
    font-size: 24px;
    line-height: 38px;
    @extend %title-font;

  }
}



@import 'media';